body
{
  font-family: sans-serif;
  color: black;
  text-align: center;
  text-align: justify;
  background-color: teal;
}
p
{
  font-family: Arial, Verdana, sans-serif;
}
h1,h2
{
  font-family: "Arial Black", Verdana, sans-serif;
}
em
{
  font-style: italic;
}
.chanson
{
  font-style: italic;
  background-color: white;
}
div
{
  background-color: silver;
}
