body
{
  font-family: sans-serif;
  color: black;
  background-color: #F8BCF1;
}/** CSS et HTML fait en grande partie par Philéas Villette**/
p
{
  font-family: Arial, Verdana, sans-serif;
  text-align: center;

}
h1, h2
{
  font-family: "Arial Black", Verdana, sans-serif;
  text-align: center;
   border: 3px black groove;
}
em
{
  font-style: italic;
}
.chanson
{
  font-style: italic;
  background-color: white;
  text-align: right;
  border: 3px black groove;
}
.button
{
  font-family: "Arial Black", Verdana, sans-serif;
  text-align: center;
  background-color: #3E67F6;
  border: 3px black groove;
  color: white;
}
h3
{
	font-family: "Arial Black", Verdana, sans-serif;
  text-align: center;
}
a
{
  font-family: "Arial Black", Verdana, sans-serif;
  color: white;
}
figure
{
	text-align: center;
}
