body
{
  font-family: sans-serif;
  color: black;
  background-color: silver;
}
p
{
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
  border: 30px black dashed;
}
h1, h2, h3
{
  font-family: "Arial Black", Verdana, sans-serif;
  text-align: center;
}
em
{
  font-style: italic;
}
.chanson
{
  font-style: italic;
  background-color: white;
  text-align: center;
}
.button
{
  font-family: "Arial Black", Verdana, sans-serif;
  text-align: center;
  background-color: navy;
  border: 3px black groove;
  text-color: white;
}
.imageFlottante
{
  float: left;
}
